body {
  font-family: 'Open Sans', sans-serif;
}

button {
  cursor: pointer;
}

h2 {
  color: #515460;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 3rem 0 0 3rem;
}

h5 {
  color: #65748d;
  font-size: .85rem;
  margin: 2rem 0 1rem 1.2rem;
}

hr {
  border: 1.1px solid #d3dae3;;
}

select {
  display: none;
}

span {
 color: #c0c5cc;
}

.wrapper {
  display: flex;
}

.sidebar-left {
  background-color: #354052;
  height: 100%;
  width: 15vw;
}

.top-left-sidebar {
  align-items: center;
  border-bottom: 3.4px solid #2c3544;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: .6rem;
}

.profile-pic {
  border-radius: 50%;
  cursor: pointer;
  height: 6rem;
  margin-top: 2.3rem;
  width: 6rem;
}

.profile-name {
  color: #bcc5d0;
  cursor: pointer;
}

.chevron-icon {
  cursor: pointer;
  height: .6rem;
  margin-left: .65rem;
  width: .6rem;
}

.left-main-sidebar, .left-admin-sidebar {
  border-bottom: 3.4px solid #2c3544;
}

.left-admin-sidebar {
  padding-bottom: .6rem;
}

.left-main-text, .left-admin-text {
  align-items: center;
  border-left: 2px solid #354052;
  color: #9eaabd;
  cursor: pointer;
  display: flex;
  font-size: .85rem;
  font-weight: 600;
  padding: .5rem 0 .4rem 1.1rem;
}

.left-main-text:hover, .left-admin-text:hover {
  background-color: #303949;
  border-left: 2px solid #4db6fb;
  color: #fff;
}

.left-main-icon, .left-admin-icon {
  height: 1.2rem;
  padding-right: .9rem;
  width: 1.2rem;
}

.left-categories-sidebar {
  margin-bottom: 40rem;
}

.left-category-container {
  align-items: center;
  border-left: 2px solid #354052;
  cursor: pointer;
  display: flex;
  padding-top: .2rem;
}

.left-category-container:hover {
  background-color: #303949;
  color: #fff;
  border-left: 2px solid #4db6fb;
}

.left-category-text {
  color: #9aa6b9;
  font-size: .85rem;
  font-weight: 600;
}

.left-category-text:hover {
  color: #fff;
}

.left-category-icon {
  background-color: #fbd533;
  border-radius: 20%;
  height: .65rem;
  margin: 0 .9rem 0 1.1rem;
  padding: .22rem;
  width: .65rem;
}

.left-blue-box {
  background-color: #42affb;
  border-radius: 17%;
  height: .65rem;
  margin: 0 .9rem 0 1.1rem;
  padding: .22rem;
  width: .65rem;
}

.left-red-box {
  background-color: #e94260;
  border-radius: 17%;
  height: .65rem;
  margin: 0 .9rem 0 1.1rem;
  padding: .22rem;
  width: .65rem;
}

.left-green-box {
  background-color: #52ab8b;
  border-radius: 17%;
  height: .65rem;
  margin: 0 .9rem 0 1.1rem;
  padding: .22rem;
  width: .65rem;
}

.search-area-container {
  display: flex;
  height: 11.5vh;
  width: 85vw;
}

.options-container-mobile {
  display: none;
}

.search-icon-container {
  align-items: center;
  border-bottom: 2px solid #eeeff3;
  border-right: 2px solid #eeeff3;
  display: flex;
  justify-content: center;
  width: 7.5%;
}

.search-icon-container:hover {
  background-color: #3aa4fa;
}

.hamburger-icon-container {
  align-items: center;
  border-bottom: 2px solid #eeeff3;
  border-right: 2px solid #eeeff3;
  display: flex;
  justify-content: center;
  width: 7.5%;
}

.hamburger-icon-container:hover {
  background-color: #3aa4fa;
}

.multiple-options-container {
  display: none;
}

.search-area-icon {
  height: 1.7rem;
  width: 1.7rem;
}

.playlist-area-icon {
  height: 1.7rem;
  width: 1.7rem;
}

.playlist-icon-after {
  display: none;
}

.search-input-container {
  border-bottom: 2px solid #eeeff3;
  border: none;
  width: 72%;
}

.magnifying-glass-icon {
  height: 1.3rem;
  margin: 2.2rem 0 0 1.8rem;
  position: absolute;
  width: 1.3rem;
  z-index: 1;
}

.search-input {
  border: none;
  border-top: 2px solid #eeeff3;
  border-bottom: 2px solid #eeeff3;
  font-size: 1.1rem;
  height: 100%;
  padding-left: 1rem;
  position: relative;
  text-indent: 4rem;
  width: 100%;
}

::placeholder {
  color: #a1aab7;
  font-size: 1.1rem;
}

.add-user-icon {
  width: 7%;
}

.add-event-icon {
  width: 7%;
}

.top-right-search-area {
  width: 7%;
}

.top-job-title-container {
  display: flex;
  justify-content: space-between;
}

.open-delete-icons {
  margin: 3.5rem 2.8rem 0 0;
}

.open-delete-icons-mobile {
  display: none;
}

.green-button-container {
  border: 2.2px solid #d3dae3;
  border-radius: 20px;
  height: 2.5rem;
  width: 6rem;
}

.open-button-icon {
  display: inline;
  height: .82rem;
  width: .82rem;
}

.open-text {
  color: #6e798b;
  display: inline;
  font-size: .85rem;
  font-weight: 700;
}

.save-edit-delete-button {
  border-radius: 50%;
  border: 2.2px solid #d3dae3;
  height: 2.7rem;
  margin-left: .8rem;
  width: 2.7rem;
}

.save-edit-delete-icon {
  height: 1.1rem;
  padding-top: .1rem;
  width: 1.1rem;
}

.middle-job-title-container {
  display: flex;
  margin: -1.2rem 0 0 3rem;
}

.location-1-icon {
  cursor: pointer;
  height: 1.1rem;
  margin: 1rem .5rem 0 0;
  width: 1.1rem;
}

.job-location-text {
  color: #737e8f;
  font-weight: 400;
  margin-right: .5rem;
}

.bullet {
  color: #c0c5cc;
  margin-right: .5rem;
}

.preview-post {
  color: #4db6fb;
  cursor: pointer;
  font-weight: 600;
}

.bottom-job-title-container {
  display: flex;
  margin: 1.3rem 0 0 3.3rem;
}

.summary-text-icon {
  border-bottom: 4px solid #fff;
  color: #96a0af;
  cursor: pointer;
  font-size: .85rem;
  font-weight: 700;
  margin: 1rem 3.4rem 0 0;
  padding-bottom: 1.3rem;
}

.summary-text-icon:hover {
  border-bottom: 4px solid #46adfa;
  color: #4e515d;
}

.main-content {
  background-color: #ebf1f6;
}

.graph-container {
   border-top: 2px solid #e1e6ec;
   display: flex;
   padding: 3rem 0 0 2rem;
}

.single-chart {
  justify-content: space-around;
  margin-right: -2rem;
  width: 20%;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-height: 250px;
  max-width: 80%;
}

.circle-bg {
  fill: none;
  stroke: #d9e4eb;
  stroke-width: 2.8;
}

.circle {
  animation: progress 1s ease-out forwards;
  fill: none;
  stroke-linecap: round;
  stroke-width: 2.3;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.blue-green .circle {
  stroke: #55bac1;
}

.circular-chart.blue .circle {
  stroke: #3aa4fa;
}

.circular-chart.purple .circle {
  stroke: #ae69af;
}

.number {
  fill: #666;
  font-size: .5rem;
  font-weight: 400;
  text-anchor: middle;
}

.circle-text {
  fill: #8995a5;
  font-size: .19rem;
  font-weight: 600;
  text-anchor: middle;
}

.bar-graph {
  margin-left: 2.3rem;
  height: 30vh;
}

.applicant-button-container {
  background-color: #ebf1f6;
  display: flex;
  justify-content: space-around;
  padding: .75rem 0 3rem 0;
}

.left-totals-button {
  background-color: #fafafc;
  border-radius: 20px;
  border: 2.2px solid #d3dae3;
  color: #616d80;
  font-size: .85rem;
  font-weight: 600;
  height: 2.3rem;
  margin-left: 2rem;
  padding: 0 1.3rem;
}

.right-applicant-button {
  background-color: #fafafc;
  border-radius: 20px;
  border: 2.2px solid #d3dae3;
  color: #616d80;
  font-size: .85rem;
  font-weight: 600;
  padding: 0 1.3rem;
}

.mobile-stats-button {
  display: none;
}

.show-more-container {
  display: flex;
}  

.show-more-button {
  border-radius: 50%;
  border: 2.2px solid #d3dae3;
  height: 2.2rem;
  margin-bottom: 2.5rem;
  width: 2.2rem;
}

.left-line-show-more {
  padding-left: 4.2rem;
  width: 34%;
}

.right-line-show-more {
  padding-right: 4.2rem;
  width: 34%;
}

.arrow-up-icon {
  color: #9ca3af;
  height: .7rem;
  width: .7rem;
}

.job-social-container {
  display: flex;
}

.job-description-container {
  height: 118vh;
  width: 61%;
}

.job-description-header {
  align-items: center;
  background-color: #6f7e95;
  border-radius: 3px;
  display: flex;
  height: 5.2em;
  margin: 0 3.4rem 0 3.5rem;
  padding-left: .5rem;
  width: 100%;
}

.job-description-button {
  align-items: center;
  background-color: #7b8aa6;
  border: none;
  display: flex;
  height: 2.2rem;
  margin-left: 2rem;
  width: 5.6rem;
}

.white-pencil-icon {
  height: .9rem;
  width: .9rem;
}

.job-description-text {
  color: #fff;
  font-size: .95rem;
  font-weight: 600;
  padding-left: 2rem;
}

.job-edit-text {
  color: #fff;
  font-size: .95rem;
  font-weight: 600;
  margin-top: .5rem;
  padding-left: .5rem;
}

.job-content-container, .description-content-container {
  align-items: center;
  background-color: #fff;
  border-bottom: 1.5px solid #eef2f5;
  display: flex;
  margin-left: 3.5rem;
  padding: 1rem 0 1rem 2.5rem;
  width: 95.6%;
}

.job-description-title-text {
  color: #7a89a0;
  font-size: .85rem;
  font-weight: 700;
  margin-right: 4rem;
}

.job-description-content {
  color: #848e9c;
  font-weight: 400;
}

.location-title-text {
  color: #7a89a0;
  font-size: .85rem;
  font-weight: 700;
  margin-right: 6.1rem;
}

.location-content {
  color: #848e9c;
  font-weight: 400;
} 

.employment-title-text {
  color: #7a89a0;
  font-size: .85rem;
  font-weight: 700;
  margin-right: 2.6rem;
}

.employment-content {
  color: #848e9c;
  font-weight: 400;
}

.experience-title-text {
  color: #7a89a0;
  font-size: .85rem;
  font-weight: 700;
  margin-right: 5.6rem;
}

.experience-content {
  color: #848e9c;
  font-weight: 600;
}

.status-title-text {
  color: #7a89a0;
  font-size: .85rem;
  font-weight: 700;
  margin-right: 7.5rem;
}

.status-content {
  color: #848e9c;
  font-weight: 600;
}

.description-content-container {
  align-items: flex-start;
}

.description-title-text {
  color: #7a89a0;
  font-size: .85rem;
  font-weight: 700;
  padding-right: 5rem;
}

.description-content {
  color: #848e9c;
  font-weight: 600;
  line-height: 1.4rem;
  max-width: 71%;
}

.description-button-mobile, .description-content-mobile {
  display: none;
}

.hiring-title-text {
  color: #7a89a0;
  font-size: .85rem;
  font-weight: 700;
  margin-right: 5.2rem;
}

.lead-pic-text-container {
  align-items: center;
  display: flex;
}

.hiring-lead-pic {
  border-radius: 50%;
  cursor: pointer;
  height: 3rem;
  margin-right: 1rem;
  width: 3rem
}

.hiring-content {
  color: #848e9c;
  font-weight: 600;
}

.salary-title-text {
  color: #7a89a0;
  font-size: .85rem;
  font-weight: 700;
  margin-right: 3rem;
}

.salary-content {
  border-radius: 3px;
  color: #5e6a7d;
  font-weight: 700;
  padding: .3rem 0 .7rem 0;
}

.social-media-container {
  margin-left: 7.5rem;
  width: 25.5%;
}

.facebook-container {
  align-items: center;
  background-color: #4b71c3;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  height: 3.4rem;
  justify-content: flex-start;
}

.twitter-container {
  align-items: center;
  background-color: #43abf0;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  height: 3.4rem;
  justify-content: flex-start;
  margin-top: 1.2rem;
}

.linkedin-container {
  align-items: center;
  background-color: #2f81bd;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  height: 3.4rem;
  justify-content: flex-start;
  margin-top: 1.2rem;
}

.social-media-icon {
  height: 1.3rem;
  padding-left: 1.5rem;
  width: 1.3rem;
}

.social-media-text {
  color: #f2f4fb;
  font-size: .95rem;
  font-weight: 400;
  padding-left: 3.3rem;
}

.image-title-wrapper {
  align-items: center;
  display: flex;
  margin-top: 1.1rem;
}

.job-share-title {
  color: #596679;
  font-size: 1.2rem;
  font-weight: 600;
}

.job-share-icon {
  height: 1.2rem;
  margin-right: .5rem;
  width: 1.2rem;
}

.job-share-content {
  color: #8e97a5;
  font-size: .85rem;
  line-height: 1.4rem;
  margin: -.5rem 0 1.3rem 0;
}

.copy-input-container {
  border-bottom: 2px solid #d3dae3;
  display: flex;
  padding-bottom: 2.9rem;
}

.copy-input-container-3 {
  display: flex;
  padding-bottom: 2.9rem;
}

input.copy-input {
  padding-right: 2.6rem;
}

input[type="text"] {
  border: none;
  border-radius: 6px;
  height: 3rem;
  width: 85%;
}

input[type="text"]::placeholder {
  font-size: .85rem;
  font-weight: 700;
  padding-left: 1rem;
}

.copy-button {
  background-color: #55bac1;
  border-radius: 4px;
  color: #e7f5f7;
  font-size: .85rem;
  margin-right: .5rem;
  padding: 0 1rem 0 1rem;
}

@media screen and (max-width: 1199px) {
  .sidebar-left {
    display: none;
  }
  .search-area-container {
    width: 100vw;
  }  
  .job-share-container {
    padding-top: .5rem;
  }
  .description-content {
    padding: 0 1rem 0 1rem;
  }
  .search-area-container {
    width: 100%;
  }
  .playlist-area-icon {
    display: none;
  }
  .playlist-icon-after {
    display: block;
    height: 1.7rem;
    width: 1.7rem;
  }
}

@media screen and (max-width: 1025px) {
  .social-media-container {
    margin-right: 2rem;
  }
  .social-media-text {
    padding-left: 1.5rem;
  }
  .job-share-container {
    padding-top: .2rem;
  }
  .job-share-title {
    font-size: 1rem;
  }
  .search-icon-container {
  width: 9.5%;
  }
  .hamburger-icon-container {
    width: 9.5%;
  }
  .summary-text-icon {
    font-size: .75rem;
    margin-right: 2rem;
  }
  .bar-graph {
    height: 25vh;
  }
  .job-description-header {
    padding-right: .4rem;
  }  
}  

@media screen and (max-width: 860px) {
  h2 {
    font-size: 1.5rem;
  }
  select {
    display: block;
    font-size: 1rem;
    margin: 1.5rem auto 1.5rem auto;
  }
  .search-area-container {
    height: 9.5vh;
  }
  .middle-job-title-container {
    font-size: .9rem;
  }
  .bottom-job-title-container {
    display: none;
  }
  .search-icon-container {
    width: 9%;
  }
  .hamburger-icon-container {
    width: 9%;
  }
  .magnifying-glass-icon {
    margin-top: 1.75rem;
  }
  .search-area-icon, .playlist-icon-after {
    height: 1.4rem;
    width: 1.4rem;
  }
  ::placeholder {
    font-size: 1rem;
  }
  .graph-container {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
  }
  .single-chart {
    width: 32%;
  }
  .bar-graph {
    height: 38vh;
    margin: 3rem 0 0 0;
  }
  .job-description-container {
    width: 85%;
  }
  .job-description-header {
    justify-content: center;
    margin: 0;
    padding-right: 0;
  }
  .job-content-container, .circular-chart {
    margin: 0;
  }
  .description-content-container {
    margin: 0;
  }
  .description-content {
    padding-left: 0;
  }
  .job-description-text, .job-edit-text, .job-description-title-text {
    font-size: .85rem;
  }
  .social-media-container {
    margin: 0 0 0 .75rem;
    width: 85%;
  }
  .facebook-container, .twitter-container, .linkedin-container {
    justify-content: center;
  }
  .job-social-container {
    align-items: center;
    flex-direction: column;
  }
  .social-media-icon {
    padding-left: 0;
  }
  .social-media-text {
    padding-left: .65rem;
    font-size: .9rem;
  }
  input[type="text"] {
  width: 100%;
  }
  input.copy-input {
  padding-right: 4.3rem;
  }
}  

@media screen and (max-width: 769px) {
  .job-description-header {
    padding-right: .2rem;
  }
  .open-delete-icons {
    display: none;
  }
  .open-delete-icons-mobile {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
  }
  .job-description-container {
    margin-bottom: 2rem;
  }
  .four-dots-icon {
    height: 1.7rem;
    width: 1.7rem;
  }
  .search-icon-container {
    width: 10%;
  }
  .hamburger-icon-container {
    width: 10%;
  }
}  

@media screen and (max-width: 660px) {
  .bar-graph {
    height: 30vh;
  }
  .job-description-container {
    margin-bottom: 3.5rem;
  }
  .job-description-header {
    padding-right: .5rem;
  }
  .graph-container {
    justify-content: space-around;
  }
  .search-icon-container {
    width: 12%;
  }
  .hamburger-icon-container {
    width: 12%;
  }
  .left-totals-button {
    display: none;
  }
  .right-applicant-button {
    display: none;
  }
  .mobile-stats-button {
    background-color: #fafafc;
    border-radius: 20px;
    border: 2.2px solid #d3dae3;
    color: #616d80;
    display: flex;
    font-size: .85rem;
    font-weight: 600;
    padding: .5rem 1.3rem;
  }
   .left-line-show-more, .right-line-show-more {
    width: 25%;
  }
}  

@media screen and (max-width: 560px) {
  .bar-graph {
    height: 25vh;
  }
  .playlist-icon-after {
    height: 1.2rem;
    width: 1.2rem;
  }
  .search-area-icon {
    height: 1.2rem;
    width: 1.2rem;
  }
  ::placeholder {
    font-size: .85rem;
  }
  .magnifying-glass-icon {
    height: 1.1rem;
    margin-top: 1.5rem;
    width: 1.1rem;
  }
   .search-area-container {
    height: 8vh;
  }
  .job-description-header {
    padding-right: .75rem;
  }
  .job-description-container {
    margin-bottom: -7rem;
  }
  .description-content {
    display: none;
  }
  .description-button-mobile {
    border-radius: 4px;
    display: block;
    padding: 0 1rem 0 1rem;
  }  
  .description-content-mobile {
    color: #848e9c;
    display: block;
    font-weight: 600;
  }
  .show-more-button {
    height: 2rem;
    width: 2rem;
  }
}

@media screen and (max-width: 485px ) {
  h2 {
    font-size: 1.3rem;
  }
  select {
    font-size: .85rem;
  }
  .bar-graph {
    height: 22vh;
  }
  .job-description-header {
    font-size: .8rem;
    padding-right: 0;
  }
  .graph-container {
    align-items: center;
    flex-wrap: none;
    flex-flow: column;
  }
  .single-chart {
    width: 45%;
    margin-bottom: 1rem;
  }
  .search-icon-container {
    display: none;
  }
  .search-input-container {
    width: 100%;
  }
  .job-content-container, .description-content-container {
    font-size: .8rem;
    padding-left: 1.5rem;
  }
  .job-social-container {
    margin-right: .5rem;
  }
  .options-container-mobile {
    align-items: center;
    border-bottom: 2px solid #eeeff3;
    border-right: 2px solid #eeeff3;
    display: flex;
    justify-content: center;
    width: 14.5%;
  }
  .hamburger-icon-container {
    width: 14.5%;
  }
  .options-icon-mobile {
    height: 1.2rem;
    width: 1.2rem;
  }
  .options-container-mobile:hover {
    background-color: #3aa4fa;
  }
  .social-media-container {
    margin-left: 1.2rem;
  }
}

@media screen and (max-width: 385px) {
  h2 {
    font-size: 1rem;
  }
  .middle-job-title-container {
    font-size: .8rem;
    margin-left: 2.5rem;
  }
  .job-description-header {
    padding-right: .2rem;
  }
  .location-1-icon {
    margin-top: .6rem;
  }
  .location-title-text {
    margin-right: 5rem;
  }
  .hiring-title-text {
    margin-right: 3.5rem;
  }
  .bar-graph {
    height: 19vh;
  }
  .job-social-container {
    margin-bottom: 4rem;
  }
  .social-media-container {
    margin-top: 4rem;
  }
  .options-container-mobile, .hamburger-icon-container {
    width: 18.5%;
  }
  .left-line-show-more, .right-line-show-more {
    width: 20%;
  }
  .job-description-text {
    font-size: .75rem;
    padding-left: 0;
  }
  .job-description-title-text, .location-title-text,
  .employment-title-text, .experience-title-text, 
  .status-title-text, .description-title-text, 
  .hiring-title-text, .salary-title-text, .job-edit-text {
    font-size: .75rem;
  }

@media screen and (max-width: 337px) {
  h2 {
    font-size: .9rem;
  }
  .middle-job-title-container {
    font-size: .75rem;
    margin-left: 2.2rem;
  }
  .options-container-mobile, .hamburger-icon-container {
    width: 22.5%;
  }
  .bar-graph {
    height: 17vh;
  }
  .social-media-container {
    margin-top: 9.5rem;
  }
  .location-title-text {
    margin-right: 4rem;
  }
  .description-title-text {
    padding-right: 4rem;
  }
  .hiring-title-text {
    margin-right: 2rem;
  }
}  